<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Fantasy Bots", root_path, class: "navbar-logo" %>
    <nav>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Teams", teams_path %></li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Settings", settings_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<%= yield %>

</body>
</html>
